@page "/"

<div style="text-align: center;">
    <h1 style="margin-bottom: 2rem;">LISTA DE COMPRAS</h1>

    <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto" style="margin-bottom: 2rem;">
        <RadzenImage Path="https://simpleicons.org/icons/shopify.svg"
                     Style="width: 120px; height: auto;"
                     AlternateText="Shopping Logo" />
    </RadzenStack>
</div>


